@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root{
    --font-family:'Not Sans Vithkuqi',sans-serif ;
    --blue: #007bff;
    --secondary: #136ed0;
    --black:#000;
    --white:#fff;
    --grey: gray;
    --red: #dc3545;
    --aqua: aquamarine;
    --border1:1px solid #e0e2e4;
    --border2:2px solid black;
    --button2: #CC9966;
}

header{
    width: 100%;
}
.container {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color:var(--white);
}
.navbar{
    width: 100%;
    height: 76px;
    display: flex;
}
.logo img {
    width: 47px;
    height: 47px;
    margin-left: 29px;
    margin-top: 12px;
    padding-left: 3px;
}
ul.navlinks {
    display: flex;
    list-style: none;
    margin-left: 68%;
    margin-top: 29px;
}
.navlinks li {
    padding-left: 17px;
}
.navlinks li a{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-family: var(--font-family);
}
.navlinks li a:hover{
    color: #343a40;
}





.bg{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 42rem;
    background: url(img/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-attachment: scroll;
}


#home {
    position: relative;
    padding-top: 46px;
}
.head h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.head {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33%;
    left: 3%;
    margin-left: 29px;
    margin-top: 36px;
}

.head p {
    text-align: center;
    font-size: 1.25rem;
    font-family: system-ui;
    font-weight: 100;
}
.head button {
    color: var(--white);
    background-color:var(--blue);
    border-color: var(--blue);
    padding: 13px 17px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.head button:hover{
    background-color:var(--secondary);
}


#about{
    scroll-margin-top: 4.4rem;
    margin: 0 8%;
    border: var(--border1);
}

.abt1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    min-height: 34rem;
    
}

.bgimg {
    background-image: url(img/about-img.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-right: var(--border1);
}

.abt2{
    background-color: #17a2b8;
    height: 21rem;
    margin: 0px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 35px;
    
}
.abt2 h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.abt3{
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 30px;
    width: 100%;
}
.abt3 p {
    text-align: center;
    font-size: 1.25rem;
    font-family: system-ui;
    font-weight: 100;
}
.abt2 button {
    color: var(--white);
    background-color:var(--blue);
    border-color: var(--blue);
    padding: 13px 17px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 100px;
}
/*  */

#menu{
    scroll-margin-top: 4.5rem;
    margin: 0 8%;
    border:   var(--border1);
    border-top: 0;
}

.facility1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}


.facility{
    padding-left: 15px;
    font-weight: 350;
    padding-right: 10px;
    border: var(--border1);

}
.facilogo1{
    margin-top: 15px;
}
.faci{
    margin-bottom: 18px;
}

.faci1{
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom:  var(--border1);
}


/* */


#popularmenu{
    scroll-margin-top: 4.5rem;
    margin: 0 8%;
    border:  var(--border1);
    border-top: 0;
}

.pmenu1 h2{
    font-size: 1.7rem;
    margin: 5px;
}

.popularmenu1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

.pop{
    border:  var(--border1);
    padding: 0px 15px;
    width: 100%;
}

.pop2 img{
    width: 100%;
    height: auto;
}


.menu1{
    border-bottom: var(--border1);
    grid-column-start: 1;
    grid-column-end: 4;
}


/*  */

#gallery{
    scroll-margin-top: 4.5rem;
    margin: 0 8%;
    border:   var(--border1);
    border-top: 0;
}

.gallery1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

.gal{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0px 15px;
}

.gallery{
    border:  var(--border1);
    width: 100%;
    padding: 0px 15px;
}


.gal1 img{
    width: 100%;
}

.gal2 img{
    width: 100%;
}

.gal3 img{
    width: 100%;
}

.gal4 img{
    width: 100%;
    height: 100%;
}

.gal5 img{
    width: 100%;
    height: 100%;
}

.gal6 img{
    width: 100%;
    height: 100%;
}


/*  */

#team{
    scroll-margin-top: 4.5rem;
    margin: 0 8%;
    border:   var(--border1);
    border-top: 0;
}

.team1{
    display: grid;
    grid-template-columns: 1r 1fr 1fr;
    width: 100%;
    height: auto;
}

.team1-1{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0px 15px;
}

.team2{
    border:  var(--border1);
    width: 100%;
    padding: 0px 15px;
}


.team2 img{
    width: 100%;
}



/*  */



#contact{
    scroll-margin-top: 4.5rem;
    margin: 0 8%;
    border:  var(--border1);
    border-top: 0;
}

.contact1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.contact1-1{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0px 15px;
}

.contact{
    border:  var(--border1);
    width: 100%;
}

.menu11{
    grid-column-start: 1;
    grid-column-end: 2;
}

.menu11 img{
    width: 100%;
    height: 33rem;
}

.menu22{
    grid-column-start: 2;
    grid-column-end: 3;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--border2);
    height: 21rem;
    margin: 0px 15px;
    padding: 10px;
}

.table .eml{
    border:  var(--border2);
    padding: 10px 10px;
    margin: 10px;
    font-size: large;
    width: 80%;
}

.table .btn{
    cursor: pointer;
    padding: 8px 35px;
    margin: 15px;
    background-color: var(--button2);
    color:  var(--white);
    border-style: none;
    font-size: medium;
}


h3{
    font-weight: 600;
    line-height: 1.8rem;
    margin-left: 15px;
}

.email h2{
    margin-left: 15px;
}

.ftlogo i{
    font-size: 2rem;
    margin-left: 15px;
    color:var(--aqua);
    border: 25px solid black;
    background-color: black;
    border-radius: 50%;
}

.contact3{
    grid-column-start: 1;
    grid-column-end: 5;
}

.line{
    margin: 0px 15px;
    padding-top: 17px;
    border-bottom:var(--border2);}

.cpy h4{
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

span{
    color:var(--red);
}

#contactft{
    margin: 0 8%;
    border:   var(--border1);
    border-top: 0;
}

.contactft1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}

#contactft2{
    margin: 0 8%;
    border:   var(--border1);
    border-top: 0;
}

.conft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
}



#checkbtn, #check {
    color: var(--black);
    border: var(--border1);
    display: none;
    padding: 12px 17px;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 20px;
}







@media screen and (min-width:250px) and (max-width:1024px) {
    #checkbtn {
        display: block;
        cursor: pointer;
    }
   
  
    .navlinks{
        flex-direction: column;
        position: absolute;
        margin-top: 19rem;
        background-color:var(--white);
        width: 100%;
        display: none;
           
    }
    ul.navlinks {
        display: flex;
        list-style: none;
        display: none;
        top: 50%;
        right: 0;
    }

    .navlinks li a{
        text-decoration: none;
        color: rgba(0,0,0,.5);
        font-family: var(--font-family);
    }
    .navlinks li a:hover{
        color: #343a40;
    }

    .navlinks li{
        margin: 10px 15px;
    }
    
    #check:checked ~ .navlinks{
        display: flex;
    }

    #about, #menu,#popularmenu, #gallery, #team, #contact, #contactft, #contactft2{
        margin: 0 5%;
    }
    .abt1{
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    }

    .bgimg{
        width: 100%;
        height: 40rem;
        border-right: 1px solid #dee2e6;
    }

    .abt2{
        height: 28rem;
    }

    .facility1{
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8rem 1fr 1fr;
    }

    .facilogo1 img{
        width: 358px;
    }
     
    
    .facimedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .popularmenu1{
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 8rem 1fr 1fr 1fr;
    }

    .gallery1{
        grid-auto-flow: column;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 8rem 1fr 1fr 1fr;
    }

    .team1{
        grid-auto-flow: column;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 8rem 1fr 1fr 1fr;
    }

    .contact1{
        grid-auto-flow: column;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 8rem 1fr;
    }

    .contactft1{
        justify-content: center;
        text-align: center;
        grid-auto-flow: column;
        grid-template-columns:1fr 1fr  ;
        grid-template-rows: 1fr 1fr;
    }

    .conft{
        grid-auto-flow: column;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr;
    }


}

@media screen and (max-width:767px) {
    .head{
         width: 100vw;
         justify-content: center;
         margin:0px -3rem;
         padding: 0px 2rem;
         text-align: center;
    }
 
    #about, #menu, #popularmenu, #gallery, #team, #contact, #contactft, #contactft2{
         margin: 0 5%;
    }
 
     .abt1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }

 
     .facilogo1 img{
         width: 300px;
     }
 
     .facility1{
         grid-auto-flow: column;
         grid-template-columns:1fr ;
         grid-template-rows: 9rem 1fr 1fr 1fr 1fr;
     }
 
 
     .popularmenu1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
 
     .gallery1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
 
 
     .team1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
 
     .contact1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
     }
 
     .contactft1{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         text-align: center;
     }
 }